<p>Click to link below</p>

<a href="https://www.google.com/">Link to Google</a>

<style> 
 .Google-button {
	background-color: red;
	color: white;
	border: none;
	height: 36px;
	width: 105px;
	border-radius: 2px;
	cursor: pointer;
	margin-right: 8px;
	transition: opacity 0.6s;
 }

 .Google-button:hover{
 	opacity: 0.6;
 }
 .Google-button:active{
 	opacity: 0.4;

 }

 .Image-button {
	background-color: white;
	color: blue;
	border: none;
	border-style: solid;
	height: 36px;
	width: 60px;
	border-radius: 2px;
	cursor: pointer;
	border-color:blue;
	margin-right: 8px;
	transition: background-color 0.1s, color 0.1s;
 }

 .Image-button:hover{
 	background-color: blue;
 	color: white;
 }

.Image-button:active{
	opacity: 0.7;
}

 .Video-button {
 	background-color: blue;
	color: white;
	border: none;
	height: 36px;
	width: 74px;
	border-radius: 18px;
	cursor: pointer;
	font-weight: bold;
	font-size: 15px;
	transition: box-shadow: 0.15s;
 }

 .Video-button:hover{
box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
 }
</style>

<button class='Google-button'>Google</button>
<button class='Image-button'>Image</button>
<button class='Video-button'>Video</button>
